<div class="flex items-center pt-6 sm:flex-row flex-col justify-between mx-[10%]">
    <div class="sm:w-1/3 mb-4 sm:mb-0">
        <h1 class=" font-[300] text-gray-800">Mark Kariuki</h1>
        <div class="w-8 h-[1px] bg-gray-800 "></div>
        <p class="text-lg mt-4 font-[500]">A full-stack software developer crafting scalable,
            maintainable and elegant software solutions.
            Transforming <span class="font-bold">ideas </span> into robust digital experiences, one module at a time.
        </p>
    </div>
<div #techStack class="tech-stack-container" [@staggeredBounceIn]>
  <div class="tech-stack-row">
    <img src="angular-icon.png" alt="Angular" class="tech-icon"
    [@wobble]="wobbleState[0]"
     (mouseenter)="onMouseEnter(0)"
     (mouseleave)="onMouseLeave(0)">
    <img src="react-icon.png" alt="React" class="tech-icon"
    [@wobble]="wobbleState[1]"
     (mouseenter)="onMouseEnter(0)"
     (mouseleave)="onMouseLeave(0)">
  </div>
  <div class="tech-stack-row">
    <img src="graphql-icon.png" alt="GraphQL" class="tech-icon"
    [@wobble]="wobbleState[2]"
     (mouseenter)="onMouseEnter(0)"
     (mouseleave)="onMouseLeave(0)">
    <img src="nodejs-icon.png" alt="Node.js" class="tech-icon"
    [@wobble]="wobbleState[3]"
     (mouseenter)="onMouseEnter(0)"
     (mouseleave)="onMouseLeave(0)">
    <img src="dotnet-icon.png" alt=".NET" class="tech-icon"
    [@wobble]="wobbleState[4]"
     (mouseenter)="onMouseEnter(0)"
     (mouseleave)="onMouseLeave(0)">
    <img src="hotchocolate.png" alt="HotChocolate" class="tech-icon"
    [@wobble]="wobbleState[5]"
     (mouseenter)="onMouseEnter(0)"
     (mouseleave)="onMouseLeave(0)">
    <img src="docker.png" alt="Docker" class="tech-icon"
    [@wobble]="wobbleState[6]"
     (mouseenter)="onMouseEnter(0)"
     (mouseleave)="onMouseLeave(0)">
  </div>
  <div class="tech-stack-row">
    <img src="mongodb.png" alt="MongoDB" class="tech-icon"
    [@wobble]="wobbleState[7]"
     (mouseenter)="onMouseEnter(0)"
     (mouseleave)="onMouseLeave(0)">
    <img src="sql.png" alt="SQL" class="tech-icon"
    [@wobble]="wobbleState[8]"
     (mouseenter)="onMouseEnter(0)"
     (mouseleave)="onMouseLeave(0)">
  </div>
</div>
</div>