.tech-stack-container {
  position: relative;
  width: 80%;
  height: 100px; 
  margin-bottom: 20px;
  overflow: hidden;
}

.tech-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  animation: dropIn 1s ease forwards;
}

/* Drop animation */
@keyframes dropIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  80% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
