<div class="flex items-center pt-6 z-999 sm:flex-row flex-col mb-10 justify-between mx-[10%]">
    <div class="sm:w-1/2 mt-4 mb-4 sm:mb-0">
        <h1 class=" font-[300]  text-gray-800">Mark Kariuki</h1>
        <div class="w-8 h-[1px] bg-gray-800 "></div>
        <p class="text-lg mt-4 font-[500]">A full-stack software developer crafting scalable,
            maintainable and elegant software solutions.
            Transforming <span class="font-bold">ideas </span> into robust digital experiences, one module at a time.
        </p>
    </div>
<div #techStack class="tech-stack-container   rounded-lg ">
  <img *ngFor="let icon of icons; let i = index"
       [src]="icon"
       alt="Tech"
       class="tech-icon"
       [ngStyle]="iconStyles[i]"
       [@wobble]="wobbleState[i]"
       (mouseenter)="onMouseEnter(i)"
       (mouseleave)="onMouseLeave(i)">
</div>

</div>