<div class="flex items-center  mt-[10%] flex-col justify-center w-[100%] h-100%">
    <div class="flex flex-col">
        <h1 class="text-center md:text-4xl w-max mx-auto text-2xl border-b-2 border-[#0f5d8c] text-[#0f5d8c]">Firebase Prerequisites</h1>
        <div class="flex items-center mt-[5%] justify-center gap-10 flex-wrap">
            <span>
                <i class="fa-solid text-[12px] fa-bolt"></i>
                Firebase</span>
            
        </div>
    </div>
    <div class="flex items-center sm:flex-row flex-col justify-center mt-[5%]">
        <img src="projects.gif" alt="">
        <h1 class="text-2xl font-semibold sm:mt-0 mt-2">Projects</h1>
    </div>
    <ul class="flex flex-wrap items-center justify-center">
        <li *ngFor="let project of projects">
            <div  class="mt-6 sm:w-[500px] w-[300px]">
                <span class="flex items-center justify-between">
                <h1 class="text-lg  font-semibold  "> <span >0{{project.id}}.</span> {{project.name}}</h1>
                <div class="flex gap-5 mr-4 text-lg text-[#064469] ">
                    <a href={{project.githubLink}}><i class="fa-brands fa-github dark:hover:text-[#d0d7e1] "></i></a>
                    <a href={{project.web}}><i class="fa-solid fa-globe dark:hover:text-[#d0d7e1]"></i></a>
                </div>
                </span>
                <div >
                <div class="image"><img src={{project.image}} alt=""  /></div>
                </div>
                <div class="bg-[#d0d7e1] dark:bg-[#5790a2] dark:text-[aliceblue] text-gray-800  py-2 px-3 mt-4 rounded-sm">
                    <p>{{project.shortDescription}}</p>
                </div>
                <div class="float-right flex gap-2 flex-wrap mt-2 capitalize">
                   <ul
                   class="float-right flex gap-2 flex-wrap mt-2 capitalize ">
                    <li 
                    class=""
                    *ngFor="let tech of project.technologies">
                        <span key={tech} class="text-[#5790a2] font-bold flex items-center justify-center rounded "><i class="fa-solid text-[12px] fa-bolt"></i>{{tech}}</span>
                    </li>
                   </ul>
                </div>
            </div>  
        </li>
    </ul>
    <div class="fixed bottom-0 ml-2 left-0">
        <div class="flex flex-col gap-2">
            <a href="https://wa.me/254114116073"> <i class="fa-brands fa-whatsapp text-[#064469] bg-[#0fff] p-2 rounded-full  hover:bg-[#5790a2] hover:text-[#064469] duration-150 ease-in hover:scale-95"></i> </a>
            <a href="https://www.instagram.com/buckanian/"> <i class="fa-brands fa-instagram text-[#064469] bg-[#0fff] p-2 rounded-full  hover:bg-[#5790a2] hover:text-[#064469] duration-150 ease-in hover:scale-95"></i> </a>
            <a href="www.linkedin.com/in/buckanianmark"> <i class="fa-brands fa-linkedin text-[#064469] bg-[#0fff] p-2 rounded-full  hover:bg-[#5790a2] hover:text-[#064469] duration-150 ease-in hover:scale-95"></i> </a>
            <a href="mailto:kariukimark115@gmail.com"> <i class="fa-solid fa-envelope text-[#064469] bg-[#0fff] p-2 rounded-full  hover:bg-[#5790a2] hover:text-[#064469] duration-150 ease-in hover:scale-95"></i> </a> 
        </div>
        <div class="w-[1px] ml-4 h-20 bg-[#0fff]"></div>
       </div>
</div>