<div class="flex items-center pt-[10%] justify-center flex-col">
    <!-- <h1 class="text-5xl font-[200] text-[#fff]">
        Burky codes
    </h1> -->
    <h1 class="mt-8 text-[#fff] text-3xl capitalize">A blog by Mark Kariuki </h1>
    <h2 class="mt-5  font-bold text-[#dddcdc]">Full-Stack Developer</h2>
    <div class="flex items-center justify-center mt-4 gap-6">
        <a href="https://wa.me/254114116073"> <i class="fa-brands fa-whatsapp text-[#064469] bg-[#0fff] p-2 rounded-full  hover:bg-[#5790a2] hover:text-[#064469] duration-150 ease-in hover:scale-95"></i> </a>
        <a href="https://www.instagram.com/buckanian/"> <i class="fa-brands fa-instagram text-[#064469] bg-[#0fff] p-2 rounded-full  hover:bg-[#5790a2] hover:text-[#064469] duration-150 ease-in hover:scale-95"></i> </a>
        <a href="www.linkedin.com/in/buckanianmark"> <i class="fa-brands fa-linkedin text-[#064469] bg-[#0fff] p-2 rounded-full  hover:bg-[#5790a2] hover:text-[#064469] duration-150 ease-in hover:scale-95"></i> </a>
        <a href="mailto:kariukimark115@gmail.com"> <i class="fa-solid fa-envelope text-[#064469] bg-[#0fff] p-2 rounded-full  hover:bg-[#5790a2] hover:text-[#064469] duration-150 ease-in hover:scale-95"></i> </a> 
    </div>
</div>