<div class="flex items-center mx-[5%] justify-center gap-8 flex-wrap">
    <div id="category" class="w-[300px] pl-6 pt-4 flex flex-col items-start h-[120px] bg-[#0f5d8c]">
        <h2 class="text-[#fff] font-semibold ">
            <span class="text-[#0fff]">
                MEAN
            </span>
             Stack</h2>
        <div class="w-8 h-[2px] bg-[#0fff]"></div>
        <div class="flex items-center gap-2 my-1 text-[#fff]">
            <span>Angular</span>
            <span>Nodejs</span>
            <span>Express</span>
            <span>Mongodb</span>
        </div>
        <button id="explore" class="flex text-black absolute bottom-0 items-center float-right right-0 justify-center py-1 px-2 bg-[#0fff]">explore
            <i class="fa fa-location-arrow"></i>
        </button>
    </div>
    <div id="category" class="w-[300px] pl-6 pt-4 flex flex-col items-start h-[120px] bg-[#0f5d8c]">
        <h2 class="text-[#fff] font-semibold ">
            <span class="text-[#0fff]">
                MERN
            </span>
             Stack</h2>
        <div class="w-8 h-[2px] bg-[#0fff]"></div>
        <div class="flex items-center gap-2 my-1 text-[#fff]">
            <span>React</span>
            <span>Nodejs</span>
            <span>Express</span>
            <span>Mongodb</span>
        </div>
        <button id="explore" class="flex text-black absolute bottom-0 items-center float-right right-0 justify-center py-1 px-2 bg-[#0fff]">explore
            <i class="fa fa-location-arrow"></i>
        </button>
    </div>
    <div id="category" class="w-[300px] pl-6 pt-4 flex flex-col items-start h-[120px] bg-[#0f5d8c]">
        <h2 class="text-[#fff] font-semibold ">
            <span class="text-[#0fff]">
                GraphQl
            </span>
             Stack</h2>
        <div class="w-8 h-[2px] bg-[#0fff]"></div>
        <div class="flex items-center gap-2 my-1 text-[#fff]">
            <span>GraphQl</span>
            <span>React</span>
            <span>Express</span>
            <span>Mongodb</span>
        </div>
        <button id="explore" class="flex text-black absolute bottom-0 items-center float-right right-0 justify-center py-1 px-2 bg-[#0fff]">explore
            <i class="fa fa-location-arrow"></i>
        </button>
    </div>
</div>