<div class="flex items-center  mt-[10%] flex-col justify-center w-[100%] h-100%">
    <div class="flex flex-col">
        <h1 class="text-center md:text-4xl w-max mx-auto text-2xl border-b-2 border-[#0f5d8c] text-[#0f5d8c]">MEAN Stack Prerequisites</h1>
        <div class="flex items-center mt-[5%] justify-center gap-10 flex-wrap">
            <span>
                <i class="fa-solid text-[12px] fa-bolt"></i>
                Angular</span>
            <span>
                <i class="fa-solid text-[12px] fa-bolt"></i>
                Nodejs</span>
            <span>
                <i class="fa-solid text-[12px] fa-bolt"></i>
                Expressjs</span>
            <span>
                <i class="fa-solid text-[12px] fa-bolt"></i>
                Mongodb</span>
        </div>
    </div>
    <div class="flex items-center sm:flex-row flex-col justify-center mt-[5%]">
        <img src="projects.gif" alt="">
        <h1 class="text-2xl font-semibold sm:mt-0 mt-2">Projects</h1>
    </div>
</div>