#exp-wrapper{
    min-height: 400px;
    overflow-x: hidden;
}
.autoshow{
    /* animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 50% cover 100vh; */
}

.imageReveal{
    /* animation: imageReveal both;
    animation-timeline: view(50% 20%); */
}

@keyframes imageReveal{
    from{
        filter:saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to{
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

@keyframes text-appear{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.carousel-container{
    position: relative;
    margin: auto;
    text-align: center;
    
    border-radius: 15px;
    /* box-shadow: 0 6px 16px #dce1e1; */
    }
.carousel-container #main_list{
    display: none;
}


.carousel-container #main_list.active{
   display: block;
    width: 100%; 
}

