<div id="exp-wrapper" class=" relative h-full w-[90%] overflow-y-hidden mx-[10%] py-[10%] pb-[20%]">
  <div class="flex items-center mt-10 justify-end autoshow">
    <div class="w-full h-[1px] bg-[#fff]"></div>
    <h1 
    class="text-lg w-full font-semibold  md:ml-28 sm:ml-12 ml-4 text-[#fff]">
      Work Experience
    </h1>
  </div>
    <div class="absolute z-50  right-0 md:hidden flex items-center text-[#d0d7e1] flex-col gap-8  top-0 sm:mt-[30%] mt-[35%] mr-[20%]">
        <button 
        class="hover:scale-105"
        [ngClass]="{'opacity-20': selectedIndex === 3}"
        (click)="goToNext()"
        >
        <i class="fa-solid fa-2x fa-circle-chevron-right cursor-pointer"></i> 
      </button>
        <i 
          (click)="goToPrevious()"
          [ngClass]="{'opacity-20': selectedIndex === 1}"
        class="fa-solid fa-2x cursor-pointer hover:scale-105 fa-circle-chevron-left"></i>
    </div>
<div 
  class="absolute w-[90%]  bottom-0 left-0 pl-12 md:pl-0   ml-[50%]  transform -translate-x-[60%]  mb-[5%] md:mb-[20px] lg:mb-[20px]  autoshow">
    <ul class="flex items-center flex-wrap  gap-6 justify-center ">
      <li *ngFor="let exp of experiences">
        <button
          (click)="handleClick(exp.index)"
          [ngClass]="{
            'text-[#d0d7e1] border-b-2': selectedIndex === exp.index,
            'text-[#0fff]': selectedIndex !== exp.index
          }"
          class="cursor-pointer flex flex-wrap items-center gap-2">
          <!-- <i *ngIf="selectedIndex === i" class="fa md:hidden fa-circle-chevron-right"></i> -->
          {{ exp.companyname }}
        </button>
      </li>
    </ul>
  </div>
  <ul class="carousel-container  flex flex-col gap-10 ">
    <li
    id="main_list"
      *ngFor="let exp of experiences"
      [ngClass]="{ active: selectedIndex === exp.index }"
      class="autoshow justify-center mt-[20px] flex flex-col md:flex-row gap-2 md:gap-8 "
    >
    <div>

    </div>
      <div
        [ngClass]="{ active: selectedIndex === exp.index }"
        class="md:left-0   flex items-center flex-row md:items-start justify-start gap-4 w-[80%] md:w-[40%] md:ml-[5%]"
      >
        <img
          src="{{ exp.banner }}"
          alt=""
          class="imageReveal max-w-[500px] md:w-[300px]  w-[220px]"
        />
        <!-- <div class="md:float-right mt-2 w-[80%]">
          <div class=" rounded overflow-hidden">
            <img width="80" src="jf-2.jpeg" alt="" />
          </div>
        </div> -->
      </div>
      <div
        class="md:mr-[5%] md:w-[100%] mt-[20px] pl-1  flex items-start gap-2 flex-col"
      >
        <h1 class="sm:text-3xl text-xl text-white">{{ exp.role }}</h1>
        <h2 class="font-bold text-[#d0d7e1]">&#64;{{ exp.companyname }}</h2>
        <h3 class="text-sm text-[#0fff]">
          {{ exp.startdate }} - {{ exp.enddate }}
        </h3>
        <ul
          class="text-sm font-[300] pr-12 flex flex-col text-white items-start gap-2"
        >
          <li
            *ngFor="let resp of exp.responsibilities"
            class="flex items-start justify-center gap-1"
          >
            <i class="fa-solid fa-feather-pointed text-xs"></i>
            <p class="text-start text-wrap w-[100%] pr-2">
              {{ resp }}
            </p>
          </li>
        </ul>
        <ul
          class="flex gap-4 pl-2 items-center justify-start text-[#0fff] text-xs mt-2"
        >
          <li *ngFor="let tech of exp.techstack">
            {{ tech }}
          </li>
        </ul>
      </div>
    </li>
    <!-- <li class=" autoshow flex ">   
        <div class="  md:w-[40%] md:ml-[5%]">  
        <h1 class="text-3xl text-white">Full Stack Developer</h1>
        <h2 class="font-bold text-[#d0d7e1] ">&#64;A-List Events</h2>
        <h3 class="text-sm text-[#0fff]">Jan 2023 - Present</h3>
        <ul class="text-sm font-[300] pr-12 flex flex-col text-white items-start gap-2">
            <li>
               <i class="fa-solid fa-feather-pointed text-xs"></i>
               Continuous design of a user interface that allows users to explore, 
               book and pay for events.  
            </li>
            <li>
                 <i class="fa-solid fa-feather-pointed text-xs"></i>
                 Developing an admin dashboard to provide insights, monitor data, 
                 and gather user feedback.  
            </li>
            <li>
                 <i class="fa-solid fa-feather-pointed text-xs"></i>
                Provide consultancy services to reach the company’s goals.  
            </li>
           
        </ul>
         <ul class="flex gap-4 items-center justify-start text-[#0fff] text-xs mt-2">
            <li>Next.js</li>
            <li>TailwindCSS</li>
            <li>Node.js</li>
         </ul>
         </div>
          <div class=" w-full flex md:mr-[5%]  items-start justify-start gap-4 md:w-[40%] ">
            <img  src="a-list-banner.jpeg" alt=""   class="imageReveal lg:w-full w-[300px]">
            <div class="float-right">
                <div class="border-2 border-[#064469] rounded overflow-hidden">
                    <img width="80" src="a-list-banner.jpeg" alt="">
                </div>
            </div>
        </div>
    </li> -->
  </ul>
</div>
