    <div className="main hidden xl:grid mt-12">
    <div className="scroll-menu">
      <div className="circle-1"></div>
      <div className="circle-2"></div>
      <div className="circle-2-overlay "></div>
      <div className="scroll-bar dark:bg-[aliceblue] bg-[#d0d7e1] "></div>
      <div className="overlay "></div>
    </div>
    <nav>
      <ul className="nav">    
        <li data-id='2' className=""><a className="dark:text-gray-800">React</a></li>   
        <li data-id='1' className=""><a>Angular</a></li>
      </ul>
    </nav>
  </div>