@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;
    font-family: "Nunito Sans";
}